.app-details-page-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  .app-switcher-container {
    display: flex;
    border-right: 1px solid $border-color;
    height: 100%;
    flex-direction: column;
    .scroll-container {
      display: flex;
      flex-direction: column;
      height: 0;
      flex-grow: 1;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    .tooltip {
      font-weight: 600;
      font-family: 'Montserrat';
      border: 1px solid #343c5b !important;
      opacity: 1;
      border-radius: 0;
      font-size: 1rem;
    }
    .app-switch-item {
      // flex: 1;
      padding: 60px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.3;
      @include hover-zoom(1.2);
      &.active {
        opacity: 1;
      }
      .app-icon {
        width: 35px;
        height: 35px;
      }
    }
  }
  .app-details-wrapper {
    flex: 1;
    overflow: hidden;
    display: flex;
    .app-details-container {
      display: flex;
      flex-direction: column;
      color: $primary-color;
      justify-content: center;
      padding-left: 80px;
      padding-right: 120px;
      flex: 1;
      .app-logo-container {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        margin-top: auto;
        .app-logo {
          width: 75px;
          height: 75px;
          margin-right: 15px;
        }
        .app-name {
          font-weight: 700;
          font-size: 50px;
        }
      }
      .app-header {
        font-weight: 600;
        margin-bottom: 50px;
        font-size: 1.3rem;
      }
      .app-desc {
        font-weight: 300;
        margin-bottom: 50px;
        line-height: 2.5;
        width: 80%;
        font-size: 1rem;
      }
      .action-container {
        display: flex;
        .action-button {
          background-color: white;
          width: 220px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          color: $primary-color;
          cursor: pointer;
          font-size: 1.1rem;
          margin-right: 15px;
          @include hover-zoom(1.05);
          &.inverted {
            border: none;
            background-color: $primary-color;
            color: white;
            margin-left: 10px;
          }
          .action-icon {
            max-width: 190px;
            height: 22px;
          }
        }
      }
      .app-link {
        margin-top: auto;
        margin-bottom: 80px;
        @include hover-zoom(1.05);
        width: 100%;
        text-decoration: none;
        color: $primary-color;
        display: flex;
        align-items: center;
        white-space: nowrap;
        span {
          font-weight: 700;
          margin-right: 5px;
        }
        .app-icon {
          margin-left: 10px;
          height: 25px;
        }
      }
    }
    .cover-wrapper {
      transition: all 200ms linear;
      overflow: hidden;
    }
    .cover-container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .cover-img {
        height: 100vh;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
}

.no-web-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  .app-logo {
    height: 100px;
    max-width: 400px;
    object-fit: contain;
    margin: 100px 0;
    @include sm {
      width: 80%;
    }
  }
  .bottom-bar {
    color: white;
    text-align: center;
    height: 80px;
    width: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sm {
      font-size: 13px;
      padding: 0 20px;
    }
  }
}
