.brand-side-bar-wrapper {
  width: 45%;
  border-left: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  transition: all 200ms linear;
  overflow: hidden;
  padding: 50px 80px;
  padding-bottom: 0;
  .header-icon {
    width: 170px;
    height: 60px;
    object-fit: contain;
    margin-right: auto;
  }
  .hello-text {
    font-weight: 700;
    font-size: 24px;
    margin-top: 30px;
    span {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .video-container {
    display: flex;
    border: 1px solid $border-color;
    margin-top: 30px;
    .thumbnail {
      width: 30%;
      border-right: 1px solid $border-color;
      display: flex;
      cursor: pointer;
      &:hover {
        svg {
          transform: scale(1.1);
          transition: all 200ms ease-in-out;
        }
      }
      svg {
        margin: auto;
        width: 30px;
      }
    }
    .video-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 30px;
      .video-title {
        font-weight: 700;
        font-size: 20px;
      }
      .video-author {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-top: 5px;
        .author-name {
          display: flex;
          font-weight: 700;
          align-items: center;
          .author-icon {
            margin-left: 5px;
            height: 10px;
            margin-right: 2px;
          }
        }
      }
      .video-desc {
        margin-top: 15px;
        font-size: 11px;
      }
    }
  }
  .action-list-title {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .action-list {
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 -30px;
    padding: 0 30px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .action-item {
      display: flex;
      align-items: center;
      border: 1px solid $border-color;
      margin: 15px 0;
      padding: 30px;
      &:last-child {
        margin-bottom: 30px;
      }
      @include hover-zoom(1.05);
      .action-icon {
        height: 45px;
        width: 45px;
        margin-right: 20px;
      }
      .action-name {
        font-weight: 700;
        font-size: 20px;
      }
      .action-desc {
        font-weight: 300;
        font-size: 11px;
      }
    }
  }
}
