.brands-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  .header-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sm {
      padding: 0 40px;
    }
    .heder-link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header-logo {
      height: auto;
      width: 700px;
      object-fit: contain;
      @include hover-zoom(1.05);
      @include sm {
        width: 100%;
      }
    }
    .search-container {
      border: 1px solid $border-color;
      padding: 20px 30px;
      width: 700px;
      margin: 0 auto;
      margin-top: 50px;
      @include sm {
        width: 100%;
        padding: 10px 20px;
        font-size: 13px;
      }
      .search-input {
        font-weight: 500;
        &::placeholder {
          color: rgba(8, 21, 45, 0.23);
        }
      }
    }
  }
  .brands-list-container {
    flex-grow: 1;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 120px;
    margin-top: 70px;
    overflow-y: auto;
    @include sm {
      padding: 0 20px;
      margin-top: 30px;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .brand-item-container {
      width: 33.333%;
      display: flex;
      flex-direction: column;
      padding: 30px;
      @include hover-zoom(1.05);
      @include sm {
        width: 100%;
        padding: 20px;
      }
      &:hover {
        .brand-name {
          display: block;
        }
      }
      @include sm {
        .brand-name {
          display: block !important;
          font-size: 13px;
        }
      }
      .brand-item {
        width: 100%;
        height: 250px;
        border: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @include sm {
          height: 230px;
        }
        .brand-logo {
          width: 80%;
          object-fit: contain;
          height: 80px;
          @include sm {
            width: 70%;
          }
        }
        .brand-coming-soon {
          color: #e5e5e5;
          text-align: center;
          font-weight: 500;
          font-size: 24px;
        }
      }
      .brand-name {
        text-align: center;
        font-weight: 700;
        color: white;
        padding: 6px;
        transition: all 200ms ease-in-out;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
