.groups-carousel-container {
  display: flex;
  align-items: flex-end;
  overflow-y: auto;
  height: calc(130px + 200px);
  @include sm {
    height: auto;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .group-item-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 170px;
    width: 170px;
    align-items: baseline;
    position: relative;
    @include sm {
      flex: 0 0 100px;
      width: 100px;
    }
    &:first-child {
      .group-item {
        .group-img {
          opacity: 1 !important;
        }
      }
    }
    &:last-child {
      .group-tooltip-container {
        position: absolute;
        bottom: 130px;
        right: -180px;
        margin-right: calc(300px - 120px);
      }
    }
    &:hover {
      .group-tooltip-container {
        display: flex;
        @include sm {
          display: none;
        }
      }
    }
  }

  .group-item {
    cursor: pointer;
    width: 170px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include sm {
      width: 100px;
      height: 75px;
    }

    &:hover {
      .group-img {
        width: 60px;
        height: 60px;
        opacity: 1;
        @include sm {
          width: 35px;
          height: 35px;
          opacity: 1;
        }
      }
    }
    .group-img {
      width: 50px;
      height: 50px;
      transition: all 300ms ease-in-out;
      opacity: 0.5;
      @include sm {
        width: 30px;
        height: 30px;
        opacity: 1;
      }
    }
  }
}

.group-tooltip-container {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ebebeb;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin-bottom: 10px;
  .group-name-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .group-icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .group-name {
    font-weight: 700;
    color: #2d2d30;
    font-size: 20px;
  }
  .group-desc {
    color: #182443;
    font-size: 11px;
    line-height: 2;
    margin-bottom: 10px;
    flex-grow: 1;
    height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .web-link {
    border: 1px solid #ebebeb;
    width: 100px;
    height: 30px;
    color: #2d2d30;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    @include hover-zoom(1.1);
  }
}

.app-popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
  .app-log {
    max-width: 90%;
    height: 35px;
    object-fit: contain;
  }
  .app-desc {
    font-size: 13px;
    line-height: 30px;
    color: #182443;
    margin: 30px 0;
    text-align: center;
  }
  .website-btn {
    text-align: center;
    font-weight: 700;
    color: white;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
