@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import 'responsive';

$primary-color: #08152d;
$vault-border-color: #e7e7e7;
$border-color: #e5e5e5;
$primary-green: #3ea254;
$primary-red: #5b3f24;

@mixin hover-zoom($scale: 1.1) {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale($scale);
  }
}

@import 'app-details-page.scss';
@import 'mobile-page.scss';
@import 'carousel-styles.scss';
@import 'landing-page.scss';
@import 'tv.scss';
@import 'modal.scss';
@import 'group-carousel.scss';
@import 'brands-pages.scss';
@import 'brand-side-wrapper.scss';

body {
  margin: 0;
  font-family: 'Montserrat', 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none !important;
}

.action-button {
  border: 1px solid $border-color;
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: $primary-color;
  cursor: pointer;
  font-size: 1.1rem;
  @include hover-zoom(1.05);
  text-decoration: none;
  &.inverted {
    border: none;
    background-color: $primary-color;
    color: white;
    margin-left: 10px;
  }
}

.w-0 {
  width: 0 !important;
}

@keyframes leaves {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
